<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef523713d42001159a011'">출결관리 안내</a>
      </div> -->
      <!-- <br class="d-block d-sm-none">
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef50a713d42001159a010'">온라인 평점</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef4efc8a06a0011726bbf'">이용약관</a>
      </div> -->
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        대한수면호흡학회<br>
        경기도 성남시 분당구 구미로 173번길 82, 분당서울대학교병원 1동 7층 7314호 (13620)<br>
        사업자등록번호: 613-82-81334 대표자: 구수권<br>
        E-mail: sleepbreathing@gmail.com
      </div>
    </div>
  </div>
</footer>
