<div class="vod" *ngIf="vod">
  <div class="vod-info">
    <!-- <div class="category" *ngIf="vod.category">{{vod.category?.categoryName}}</div> -->
    <div class="title" *ngIf="vod.title">{{vod.title}}</div>
    <div class="description" *ngIf="vod.description">{{vod.description}}</div>
  </div>
  <!-- <div class="speakers" *ngIf="vod.speakers">
    <div class="speaker" *ngFor="let speaker of vod.speakers">
      <div class="photo" [style.backgroundImage]="'url('+speaker.photoUrl+')'">
      </div>
      <h4 *ngIf="speaker.fullName">{{speaker.fullName}}</h4>
      <p *ngIf="speaker.company">{{speaker.company}}</p>
      <p *ngIf="speaker.country">{{speaker.country}}</p>
    </div>
    <svg width="3em" height="3em" viewBox="0 0 16 16" class="icon-camera bi bi-camera-video-fill" fill="currentColor">
      <path fill-rule="evenodd"
        d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
    </svg>
  </div> -->
</div>
