<div class="timetable-wrapper">
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/south-korea.png">{{ koreaTime | amDateFormat: 'yyyy.MM.DD HH:mm:ss' }}
    </div>
  </div>
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item">
          <a [ngClass]="{'active':date===1}">2021 . 7 . 3(Sat) 00:00~23:59</a>
        </div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:10%">
        <col style="width:60%">
        <col style="width:30%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="3" #th1>
            2021 대한수면호흡학회 교육강좌 프로그램
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="black">시간</td>
          <td class="black">연제</td>
          <td class="black">연자</td>
        </tr>
        <tr>
          <td></td>
          <td>인사말</td>
          <td>
            대한수면호흡학회 회장 : 구수권
          </td>
        </tr>
        <tr>
          <td colspan="3" class="subject">주 제 : 수면다원검사 기본교육</td>
        </tr>
        <tr>
          <td>30 분</td>
          <td>1. 수면다원검사 hook up 및 calibration</td>
          <td>부산대 문수진</td>
        </tr>
        <tr>
          <td>30 분</td>
          <td>2. 성인 수면호흡 룰 이론 및 판독 실습</td>
          <td>관동대 송기재</td>
        </tr>
        <tr>
          <td>30 분</td>
          <td>
            3. 성인 수면단계 룰 이론 및 판독 실습
          </td>
          <td>
            경상대 김상욱
          </td>
        </tr>

        <tr>
          <td>40 분</td>
          <td>
            4. CPAP titration 이론 및 판독 실습
          </td>
          <td>
            가톨릭대 박찬순
          </td>
        </tr>
        <tr>
          <td>40 분</td>
          <td>
            5. BiPAP titration 이론 및 판독 실습
          </td>
          <td>
            아주대 김현준
          </td>
        </tr>
        <tr>
          <td>40 분</td>
          <td>
            6. MSLT 검사 방법의 이해와 판독 실습
          </td>
          <td>
            순천향대 최지호
          </td>
        </tr>

        <tr>
          <td>30 분</td>
          <td>
            7. 수면다원검사 결과 report 와 환자 상담
          </td>
          <td>
            보아스이비인후과 오재국
          </td>
        </tr>
        <tr>
          <td>240 분</td>
          <td></td>
          <td></td>
        </tr>
    </table>
  </div>
</div>
