.content-body {

  /* 로그인 배너 */
  .banner-wrapper {
    width: 70%;
    margin: 0 auto;
    position: relative;
    text-align: center;

    .m-banner-image {
      display: none;
      width: 100%;
      height: 100px;
      max-height: 12vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (max-width: 767px) {
    .banner-wrapper {
      .m-banner-image {
        display: block;
      }

      img {
        display: none;
      }
    }
  }

  .content-wrapper.login {
    padding-top: 0;
  }

  .login-title {
    font-size: 1.66rem;
    color: var(--gray16);
    font-weight: bold;
    text-align: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 0px 78px;
    border-top: 1px solid var(--gray18);

    .input-wrapper {
      display: flex;
      flex-direction: column;
      color: var(--gray16);

      label {
        font-size: 1.66rem;
        font-weight: bold;
      }

      input {
        font-size: 1.66rem;
        padding-left: 8px;
        width: 550px;
        height: 40px;
        border: none;
        background-color: var(--gray7);
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--gray7) inset;
      }

      input:focus {
        outline: 1px solid var(--gray16);
      }

      margin-bottom:8px;
    }
  }

  .login-bottom {
    display: flex;
    margin: 0 auto;
    max-width: 550px;
    height: 18px;
    justify-content: space-between;
    font-size: 1.1rem;

    .password-error {
      span {
        color: var(--red);
      }
    }

    .regist-button {
      button {
        background: none;
        border: none;
        color: var(--gray16);
      }
    }
  }

  .regist-button button,
  .submit-button button {
    outline: var(--gray7);
    border: none;
  }

  .login-footer {
    margin-top: 32px;
    text-align: center;

    font-size: 1.5rem;

    .sponsor-title {
      span {
        font-size: 1.5rem;
        width: 70%;
        margin: .7em auto;
        overflow: hidden;
        text-align: center;
        color: var(--blue10);
      }

      // span:before,
      // span:after {
      //   content: "";
      //   display: inline-block;
      //   width: 50%;
      //   margin: 0 .5em 0 -55%;
      //   vertical-align: middle;
      //   border-bottom: 1px solid;
      // }

      span:after {
        margin: 0 -55% 0 .5em;
      }
    }

    .sponsor-logo {
      margin: 24px 0 24px 0;
      width: 100%;
      height: 100px;
      border-bottom: 1px solid var(--gray18);
      padding-bottom: 120px;

      display: flex;
      flex-direction: column;
      place-items: center;

      img {
        max-width: 246.52px;
        height: 78px;
      }
    }
  }

  .regist-button {
    margin: 0 auto;
    width: 600px;
    text-align: right;

    button {
      background: none;
      border: none;
      color: var(--gray16);
    }
  }

  .submit-button {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    button {
      width: 160px;
      height: 40px;
      font-size: 1.16rem;
      color: var(--white);
      background: var(--navy);
    }
  }
}

.policy-alert-btn {
  display: none;
}

.modal-dialog {
  max-width: 826px;
}

.policy-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    max-width: 90%;
    background: var(--gray16);

    .modal-title {
      color: var(--white);
      font-size: 1.3rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);

      img {
        width: 6%;
        margin-right: 8px;
      }
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.5rem;
        color: var(--yellow1);
      }

      p {
        padding: 8px 0;
        font-size: 1.3rem;
        color: var(--white);
      }

      .example {
        font-size: 1.0rem;
      }
    }

    .ask-confirm {
      display: flex;
      place-content: center;
      font-size: 1.0rem;
      color: var(--yellow1);
      margin-top: 16px;
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.0rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue5);

      &.in {
        background: var(--blue5);
      }

      &.out {
        background: var(--red);
      }
    }
  }
}


@media screen and (max-width : 767px) {
  .content-body {
    .login-form {
      .input-wrapper {

        input {
          width: 100%;
          min-width: 320px;
        }
      }
    }

    .submit-button {
      margin-top: 12%;
    }
  }
}
