<div class="banner-wrapper">
  <div class="m-banner-image" [style.backgroundImage]="'url(assets/img/banner.png)'"></div>
  <img src="assets/img/banner.png">
  <div class="btn-wrapper">
    <a (click)="scrollToTable()" class="go-btn content-link view-more">
      <img src="assets/img/btn-go-time-table.png" alt="go-time-table"></a>
  </div>
</div>
