<div class="content-body">
  <app-banner></app-banner>
  <section class="about">
    <app-about [opt]="true"></app-about>
  </section>

  <section class="program">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Program</h2>
      </div>
    </div>
    <div class="content-inner">
      <div class="row m-0 sub-title-wrapper">
        <!-- <div class="col-md-6 p-0">
          <h3>Program at a glance</h3>
        </div> -->
        <!-- <div class="col-md-6 p-0 text-right" *ngIf="user">
          <a class="download" [href]="programBookUrl" target="_blank">
            <span>Program Book</span>
            <i class="icon-download" aria-hidden="true"></i>
          </a>

          <a class="download" [href]="excerptUrl" target="_blank">
            <i class="icon-book" aria-hidden="true"></i>
            <span>Abstract</span>
            <i class="icon-download" aria-hidden="true"></i>
          </a>
        </div> -->
      </div>
      <app-time-table></app-time-table>
    </div>
  </section>

  <section class="speaker">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2><span class="welcome-title-image"></span>Speakers</h2>
        </div>
      </div>

      <div class="content-inner">
        <div id="speakerList" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let speakersItem of speakers; let i = index;"
              [ngClass]="{'active' : i === 0}">
              <div class="speaker-item row m-0">
                <div class="p-2" [ngClass]="mobile? 'col-6': 'col-2'" *ngFor="let speaker of speakersItem">
                  <app-speaker [hidden]="!speaker" [speaker]="speaker"></app-speaker>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev slider-btn prev" href="#speakerList" role="button" data-slide="prev">
            <span class="icon-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slider-btn next" href="#speakerList" role="button" data-slide="next">
            <span class="icon-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="btn-wrapper text-center">
          <button class="content-link view-more" [routerLink]="'/speakers'">
            <span>View more</span>
            <i class="icon-more" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="sponsors">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Sponsors</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <ng-container *ngFor="let sponsor of sponsors; let i = index">
              <div class="list-item px-3" *ngIf="15 > i">
                <app-sponsor [sponsor]="sponsor"></app-sponsor>
              </div>
            </ng-container>
          </div>
          <div class="btn-wrapper">
            <a class="content-link view-more" [routerLink]="'/sponsors'">
              <span>더보기</span>
              <i class="icon-more" aria-hidden="true"></i>
            </a>
          </div>
        </article>
      </div>
    </div>
  </section> -->
</div>
