<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <div class="title-wrapper">
          <h2>Speakers</h2>
          <!-- <span class="sub-text">
            *in alphabetical order by first name
          </span> -->
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>
