<div class="sponsors" *ngIf="isLoaded">
  <ng-container *ngFor="let category of categories1; let i = index">
    <div class="section_{{i+1}}">
      <div class="{{category.categoryName}}_banner position_default"></div>
      <div *ngIf="category.booths.length > 1; else oneBooth">
        <ng-container *ngIf="category.categoryName !== 'bronze' && category.categoryName !== 'jade'; else boxes">
          <div class="{{category.categoryName}}_booth_set position_default">
            <div class=" {{category.categoryName}}_booth_{{j+1}}" *ngFor="let booth of category.booths; let j = index"
              [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetail(booth)">
            </div>
          </div>
        </ng-container>
        <ng-template #boxes>
          <div class="{{category.categoryName}}_booth_set_{{count}} position_default"></div>
          <ng-container *ngFor="let count of [1, 2]">
            <ng-container *ngIf="category.categoryName === 'bronze'">
              <ng-container *ngFor="let count of [1,2]">
                <div class="{{category.categoryName}}_booth_set_{{count}} position_default" *ngIf="count === 1">
                  <ng-container *ngFor="let booth of category.booths; let j = index;">
                    <div class="{{category.categoryName}}_booth_{{j+1}}" *ngIf="j < 2"
                      [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetail(booth)">
                    </div>
                  </ng-container>
                </div>

                <div class="{{category.categoryName}}_booth_set_{{count}} position_default" *ngIf="count === 2">
                  <ng-container *ngFor="let booth of category.booths; let j = index;">
                    <div class="{{category.categoryName}}_booth_{{j+1}}" *ngIf="j > 1"
                      [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetail(booth)">
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="category.categoryName === 'jade'">
              <ng-container *ngFor="let count of [1,2]">
                <div class="{{category.categoryName}}_booth_set_{{count}} position_default" *ngIf="count === 1">
                  <ng-container *ngFor="let booth of category.booths; let j = index;">
                    <div class="{{category.categoryName}}_booth_{{j+1}}" *ngIf="j < 4"
                      [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetail(booth)">
                    </div>
                  </ng-container>
                </div>

                <div class="{{category.categoryName}}_booth_set_{{count}} position_default" *ngIf="count === 2">
                  <ng-container *ngFor="let booth of category.booths; let j = index;">
                    <div class="{{category.categoryName}}_booth_{{j+1}}" *ngIf="j > 3"
                      [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetail(booth)">
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-template>
      </div>
      <ng-template #oneBooth>
        <div class="{{category.categoryName}}_booth position_default" [attr.data-target]="'#e-boothModal'"
          data-toggle="modal" (click)="getDetail(category.booths[0])"></div>
      </ng-template>

      <ng-container *ngIf="category.categoryName === 'diamond'">
        <div class="diamond_left_flag position_default"></div>
        <div class="diamond_right_flag position_default"></div>
      </ng-container>
    </div>
  </ng-container>
</div>

<!-- e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
              <!-- <a title="{{(selectedBooth?.name|| '') + ' 바로가기'}}" target="_blank" [href]="selectedBooth?." class="home-link">Go
                homepage</a> -->
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_self" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 당첨 모달 버튼 -->
<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2">
            Congratulations! You have completed the stamp tour.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<!--  !Publish -->
<!-- <div class="sponsors" *ngIf="categories1">
  <div class="section_1">
    <div class="diamond_banner position_default"></div>
    <div class="diamond_booth position_default"></div>
    <div class="diamond_left_flag position_default"></div>
    <div class="diamond_right_flag position_default"></div>
  </div>
  <div class="section_2">
    <div class="platinum_banner position_default"></div>
    <div class="platinum_booth_set position_default">
      <div class="platinum_booth_1"></div>
      <div class="platinum_booth_2"></div>
    </div>
  </div>
  <div class="section_3">
    <div class="gold_banner position_default"></div>
    <div class="gold_booth_set position_default">
      <div class="gold_booth_1"></div>
      <div class="gold_booth_2"></div>
      <div class="gold_booth_3"></div>
      <div class="gold_booth_4"></div>
      <div class="gold_booth_5"></div>
      <div class="gold_booth_6"></div>
      <div class="gold_booth_7"></div>
      <div class="gold_booth_8"></div>
    </div>
  </div>
  <div class="section_4">
    <div class="silver_banner position_default"></div>
    <div class="silver_booth position_default"></div>
  </div>
  <div class="section_5">
    <div class="bronze_banner position_default"></div>
    <div class="bronze_booth_set_1 position_default">
      <div class="bronze_booth_1"></div>
      <div class="bronze_booth_2"></div>
    </div>
    <div class="bronze_booth_set_2 position_default">
      <div class="bronze_booth_3"></div>
      <div class="bronze_booth_4"></div>
      <div class="bronze_booth_5"></div>
    </div>
  </div>
  <div class="section_6">
    <div class="jade_banner position_default"></div>
    <div class="jade_booth_set_1 position_default">
      <div class="jade_booth_1"></div>
      <div class="jade_booth_2"></div>
      <div class="jade_booth_3"></div>
      <div class="jade_booth_4"></div>
    </div>
    <div class="jade_booth_set_2 position_default">
      <div class="jade_booth_5"></div>
      <div class="jade_booth_6"></div>
      <div class="jade_booth_7"></div>
      <div class="jade_booth_8"></div>
    </div>

  </div>
</div> -->
