/* shine 애니메이션 */
@keyframes shineAnimation {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top left,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.0) 45%,
        rgba(255, 255, 255, 0.5) 48%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0.5) 52%,
        rgba(255, 255, 255, 0.0) 57%,
        rgba(255, 255, 255, 0.0) 100%);
    background-position: -300px -300px;
    background-size: 600px 600px
  }

  to {
    background-repeat: no-repeat;
    background-position: 300px 300px;
  }
}

/* twinkle */
@keyframes twinkle {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

/* slide x축 */
@keyframes slideX {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.title-wrapper {
  h2 {
    &.vod {
      color: var(--gray16);
    }

    span.vod-title-label {
      display: inline-block;
      margin-left: 24px;
      padding: 6px 16px;
      color: var(--red);
      font-size: 1.33rem;
      font-weight: 800;
      line-height: 1;
      border-radius: 7px;
      background: var(--yellow2);
      animation: shineAnimation 5s 4.5s infinite;
      -webkit-animation: shineAnimation 5s 1.5s infinite;
      animation-timing-function: cubic-bezier(.12, .89, .98, .47);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
    }
  }
}

.icon-warning {
  display: inline-block;
  width: 35px;
  height: 31px;
  margin-right: 8px;
  background-image: url(/assets/img/icon-warning.png);
  background-size: contain;
  vertical-align: middle;
  animation: twinkle 1s infinite;
  -webkit-animation: twinkle 1s infinite;
}

.slideX {
  animation: slideX 1.5s ease-in infinite;
  -webkit-animation: slideX 1.5s ease-in infinite;
}

.back-to-list {
  padding: 32px 0;
  text-align: center;

  button {
    width: 170px;
    height: 40px;
    background: var(--navy);
    color: var(--white);
    font-weight: 600;
    border: none;
  }
}

@media screen and (max-width : 767px) {
  .title-wrapper .vod {
    .vod-title-label {
      width: 100%;
      margin-top: 8px;
      margin-left: 0;
      text-align: center;
    }
  }
}
